.header {
    width: 100vw;
    background-color: lightcoral
}

h1 {
    color:bisque;
}

h2 {
    color:blanchedalmond;
}

.title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}