
*, *:before, *:after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}


.App {
  background-image: url('../src/assets/Images/wave-haikei.svg');
  background-size: cover;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
  text-align: center;
  height: 100%;
  width: 100%;
  /* border: 2px solid orange; */
}

@media (prefers-reduced-motion: no-preference) {
  
}





@media (max-width: 800px) {
  .team-container {
    flex-direction: column;
  }
}


 /* Right now, doing CSS for a single team but will need to modify to accomodate multiple teams next to each other
 
  Right now targeting -team-container div in Team.js (singular Team)
  Later will need to target TEAMS Container div in TEAMS.js (all teams) 
  
 */
